* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.container-main {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.container-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#task-input {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    border: 1px solid rgb(141, 141, 255);
    color:rgb(141, 141, 255);
    border-radius: 5px;
    margin-left: 2em;
}

.itens button {
    display: none;
}

.itens:hover button {
    display: inline-block;
    padding: 8px 14px;
    border: 1px solid rgb(141, 141, 255);
    color:rgb(141, 141, 255);
    border-radius: 5px;
    margin-left: 2em;
}

/*---------------------------------------------------------------------*/
.list-task {
    margin-top: 60px;
}

.itens { /* Container Principal */
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    min-height: 4vh;
}

.itens input { /* Container do Check (ESPERA) */
    opacity: 0;
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
}

.itens label { /* Container do Texto */
    display: flex;
    align-items: center;
    margin-left: -21px;
}

:checked + label { /* Texto (CONFIRMADO)*/
    text-decoration: line-through;
    color: grey;
}

label::before { /* Quadrado (ESPERA) */
    content: "";
    font-size: 0;
    padding: 10px;
    border: 1px solid black;
    margin-right: 5px;
    z-index: 1;
    border-radius: 5px;
}

:checked + label::before { /* Quadrado (CONFIRMADO) */
    background-color: rgb(0, 68, 255);
    padding: 8px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 0 2px black;
}

:checked + label div::before { /* Simbolo (CONFIRMADO) */
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 5px;
    height: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    z-index: 2;
    margin-left: -19px;
    margin-top: -4px;
}

/*---------------------------------------------------------------------*/